<form action="/recipes/new" method="post">
  <p><input type="text" name="recipe_name" value="Recipe name"></p>
  <p><input type="text" name="serving_size" value="Serving size"></p>
  <p><input type="text" name="cook_time" value="Cook time"></p>
  <p><input type="text" name="ingredients" value="Ingredients"></p>
  <p><input type="text" name="method" value="Method" height="48"></p>
  <p><input type="submit" name="submit" id="submit" value="submit"></p>

</form>
